DATABASE_URL="file:./dev.db"
AMA_NAMESPACE_DOMAIN="foo.com"
AMA_REGISTER_PRICE_SATS="200"
MDK_402_EXPIRY_SECONDS="900"
AMA_DNS_PROVIDER="cloudflare"
AMA_DNS_TTL_SECONDS="60"

# Cloudflare DNS settings
CF_ZONE_ID=""
CF_API_TOKEN=""

# MDK secrets
MDK_ACCESS_TOKEN=""
MDK_MNEMONIC=""
